body {
	position: relative;
}

.title {
	/*text-align: center;*/
	font-weight: bold;
}

.title__span {
	font-size: 36px;
	font-weight: bold;
}

.text {
	margin-top: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.card-image--size {
	width: 400px;
	height: 300px;
}

.works {
	margin-top: 100px;
}

.skills {

}

.skills-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skills-col {
	width: 300px;
}

.title2 {
	font-size: 42px;
}

@media screen and (max-width: 380px) { 
	nav .brand-logo {
		font-size: 1.7rem;
		left: 22%;
		display: inline;
		position: static;
	}
	.title {
		font-size: 44px;
	}
	.title__span {
		font-size: 28px;
	}
	.card-image--size {
		height: 240px;
	}	
	.text {
		text-align: left;
		font-weight: normal;
	}
}













/* Materialize */
.btn-floating {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.card-image {
	cursor: pointer;
}

